{% extends 'base.html' %}

{% block title %}Кроссовки BAASPLOA{% endblock %}

{% block body %}<h2>Кроссовки BAASPLOA</h2><br>
<img src="/static/images/baasploa.jpg"><br><br>
Легкие, удобные и яркие - эти женские спортивные кроссовки BAASPLOA на шнуровке идеальны для весны, лета и демисезона. Они стали незаменимыми сникерами для активного отдыха и тренировок. Дышащий верх из материалов высокого качества обеспечивает их проветриваемость, а мягкая подошва делает комфорт еще более осязаемым. Стильный дизайн и трендовые цвета позволяют им быть повседневной обувью на каждый день. Эти кроссовки добавят "энергии" и стиля вашему гардеробу, не загружая его ненужной "тяжестью". В них вы будете чувствовать себя легко и свободно, как будто парите над землей. Закажите сейчас эти уникальные спортивные шедевры – они точно станут вашими непременными спутниками во всех приключениях!
{% endblock %}